@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --main-clr: hsl(209deg 61% 16%);
    --transtion: all 0.4s linear;
    --shadow: 0 5px 15px rgba(0, 0, 0, 0.2)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--main-clr);
}

img {
    display: block;
    width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--main-clr);
    position: relative;
}

.btn {
    background: transparent;
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    text-transform: capitalize;
    padding: 1rem;
    border-radius: 10px;
    font-weight: bold;
    transition: var(--transtion);
    cursor: pointer;
}

.btn:hover {
    color: #fff;
    background-color: black;
    border-color: #fff;
}

/* start cart section */
.cart-section{
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    max-width: 400px;
    height: 100%;
    background-color: rgb(231, 228, 228);
    z-index: 9999;
    transform: translateX(100%);
    padding: 3rem 1rem;
    transition: var(--transtion);
}
.cart-section-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    position: relative;
    height: 100vh;
    
}
.close-btn{
    position: absolute;
    top: -1rem;
    left:  1rem;
    border: none;
    background: transparent;
    font-size: 1.5rem;
    color: hsl(0deg 67% 44%);
    cursor: pointer;
    transition: var(--transtion);
}
.close-btn:hover{
    transform: rotate(180deg);
    color: hsl(360, 71%, 66%);
}
.heading{
    padding: 1rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    text-align: center;
    font-weight: bold;
}

.cart-item{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}
.cart-item img{
    width: 80px;
    height: 80px;
    gap: 1.5rem;
    border-radius: 4px;
}
.cart-item .remove-item{
    cursor: pointer;
    color: grey;
}
.cart-item .fa-chevron-up{
    color: green;
    cursor: pointer;
}
.cart-item .fa-chevron-down{
    color: red;
    cursor: pointer;
}
.cart-item p{
    text-align: center;
    font-weight: bold;
}
.check-out{
    margin: 1rem;
}
.cart-total{
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: 500;
}
.cart-checkout{
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 3rem;
}
.show-cart .cart-section{
    transform: translateX(0);
}
.empty-cart{
    height: 100%;
    display: grid;
    place-items: center;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-weight: bold;
}
.hide{
    display: none;
}
/* end cart section */

.center {
    margin: 0 auto;
}

nav {
    background-color: rgb(255, 255, 255);
    box-shadow: var(--shadow);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    z-index: 999;
}

.nav-center {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 0.75rem;
    position: relative;
}

.nav-links {
    display: flex;
}

.nav-links a {
    margin-left: 0.6rem;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 700;
    color: var(--main-clr);
    transition: var(--transtion);
    font-size: 1.2rem;
}

.nav-links a:hover {
    letter-spacing: 0.15rem;
    color: blueviolet;
}

.social {
    display: none;
}

.menu-btn{
    width: 40px;
    height: 27px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.menu-btn span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
.menu-btn span:nth-of-type(1){
    top: 0;
    transform-origin: left center;
}
.menu-btn span:nth-of-type(2){
    top: 50%;
    transform: translateY(-50%);
}
.menu-btn span:nth-of-type(3){
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}
.menu-btn.menu-active span:nth-of-type(1){
    transform: rotate(45deg);
    top: 0;
    left: 5px;
    background-color: hsl(0deg 67% 44%);
}
.menu-btn.menu-active span:nth-of-type(2){
    width: 0%;
    opacity: 0;
}
.menu-btn.menu-active span:nth-of-type(3){
    transform: rotate(-45deg);
    top: 29px;
    left: 5px;
    background-color: hsl(0deg 67% 44%);
}

.logo-container {
    justify-self: center;
}

.logo {
    width: 58px;
    border-radius: 50%;
}

.cart-container {
    justify-self: end;
    margin: 1rem;
    position: relative;
    transition: var(--transtion);
    cursor: pointer;
}

.cart-container .cart-icon {
    font-size: 1.6rem;
}

.cart-container .cart-count {
    position: absolute;
    top: -10px;
    right: -12px;
    width: 20px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background-color: rgb(231 212 212);
    font-weight: bold;
}

main {
    background-image: url(../images/flora-home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.shopping-btn {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid black;
}

.shopping-btn a:hover{
    color: #fff;
}

.section-center {
    margin: 2rem;
}

.title {
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.underline {
    height: 0.25rem;
    width: 5rem;
    background: hsl(205deg 78% 60%);
    margin: 0.5rem auto;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
}

.card {
    border: 1px solid black;
    max-width: 300px;
    max-height: 300px;
    border-radius: 7px;
    overflow: hidden;
}

.card-img-container{
    height: 80%;
    box-shadow: var(--shadow);
    position: relative;
}

.product-img{
    height: 100%;
    object-fit: cover;
}

.overlay-img{
    position: absolute;
    bottom: 0;
    z-index: 5;
    background-color: rgba(81, 81, 158, 0.548);
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    height: 0;
    overflow: hidden;
    transition: var(--transtion);
}

.card-img-container:hover .overlay-img{
    height: 4rem;
}

.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.add-btn{
    background: transparent;
    border: 2px solid var(--main-clr);
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition: var(--transtion);
    color: var(--main-clr);
    padding: 0.5rem;
    border-radius: 5px;
}
.add-btn:hover{
    background-color: var(--main-clr);
    color: #fff;
    border-color: #fff;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 20%;
}
.info h4{
    text-transform: capitalize;
    color: var(--main-clr);
}
.info .price{
    font-size: 0.9rem;
}
.info .price span{
    font-weight: bold;
    font-size: 1.1rem;
}

.more-btn {
    display: block;
    margin: 0 auto;
    border: 1px solid black;
    width: 150px;
    font-size: 1rem;
}

.more-btn:hover{
    color: #fff;
}
/* media queries */
@media (max-width: 767px) {
    .nav-links {
        display: none;
    }

    .nav-links.open-nav {
        display: block;
        background-color: #fff;
        border-radius: 7px;
        width: 100%;
        position: absolute;
        top: 5rem;
        left: 0;
        padding: 1rem;
    }

    .nav-links.open-nav li a {
        padding: 1rem 0;
        display: block;
    }

    .nav-links.open-nav li a:hover {
        padding-left: 1.5rem;
        letter-spacing: 0px;
        background-color: hsl(205, 86%, 81%);
        color: #49a6e9;
        border-radius: 5px;
    }

    .nav-links.open-nav .social {
        display: block;
        display: flex;
        justify-content: center;
        transition: var(--transtion);
    }

    .nav-links.open-nav .social li a {
        margin: 0;
        padding: 0.5rem;
        font-size: 1.5rem
    }

    .nav-links.open-nav .social li a {
        background-color: transparent;
    }

    main {
        background-size: 100% 100%;
    }

    .shopping-btn {
        bottom: 5rem;
        font-size: 1rem;
    }
    .card{
        max-width: 280px;
        max-height: 280px;
    }
}

@media (min-width: 576px) {
    .center {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .center {
        max-width: 720px;
    }

    .menu-btn {
        display: none;
    }
}

@media (min-width: 992px) {
    .center {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .center {
        max-width: 1000px;
    }
}
